<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Dish</title>
</head>
<body>
    <h1>Remove the dish below: </h1>
    <p>Dish in english name: {{ card.name_en }}</p><br>
    <p>Dish in Dutch name: {{card.name_nl}}</p>

    <h3>Are you sure you want to remove this dish? </h3>
    <form method="post">
        <button type="submit">Yes</button>
        <a href="{{ url_for('welcome') }}"  class="btn btn-secondary" role="button" aria-pressed="true">No</a>
    </form>
</body>
</html>